.feynman__link{
    position: absolute;
    top:50%;
    right:48px;
    color:#2f80ed;
    line-height:51px;
    font-size:36px;
    font-weight: normal;
    text-decoration: none;
    opacity: 1;
    transition-duration:1s;
    transition-timing-function: ease-out;
  }
  .feynman__link:hover{
    opacity:0.3;
  }